.button {
    background-color:#d8344c;
    color: white;
}

.bg_primary{
    border-color: #d8344c;
}

h1, h2, h3, h4, h5, h6 {
    color: #d8344c;
}


.div{
    background-color:#d8344c;
    color: white;
}

.bg-primary {
    background-color:#f1666b; 
}